:root {
    --green: #5CA430;
    --white: #ffffff;
    --background: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--white);
    overflow-x: hidden;
  }
  
  .TextGrean {
    color: var(--green);
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  li {
    list-style: none;
  }

 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 50px;
 }

 .Heading__img {
  max-width: 100px;
 }

 a {
  color: var(--white);
  text-decoration: none;
 }
  
  .MainHeading {
    text-align: center;
    padding: 20px 50px 20px 50px;
    align-items: center;
  }

  .MainHeading__text {
    margin-bottom: 40px;
  }

  .MainHeading__text p {
    font-size: 20px;
    font-weight: 400;
  }
  
  .MainHeading video {
    max-width: 100%; 
    height: auto;
  }

  .Work {
    text-align: center;
    padding: 100px 50px 20px 50px;
    align-items: center;
  }

  .Work > p {
    padding-top: 20px;
  }
  
  
  .Testimonials {
    padding: 80px 50px;
    text-align: center;
  } 

  .Testimonials__list {
    list-style: none;
    padding-top: 40px;
  }



  .About {
    padding: 80px 50px;
    text-align: center;
  }
  
  
  .About p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  .Cta {
    padding: 80px 50px;
    text-align: center;
  }
  
  .Cta p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  .Cta__Button {
    padding: 12px;
    cursor: pointer;
    border-radius: 50px;
    border: var(--green) solid;
    transition: background-color 0.3s ease;
  }
  
  .Cta__Button:hover {
    background-color: var(--green);
  }
  
.Footer {
  padding: 80px 50px;
  list-style: none;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Footer__links {
  padding: 20px;
  list-style: none;
  font-weight: 100;
}

.Footer__img {
  max-width: 100px;
  display: none;
}

.Footer__links li {
  margin-bottom: 10px;
}

.Footer__social img {
  max-width: 40px;
  margin-top: 32px;
  margin-right: 10px;
}
  
  @media (min-width: 582px) {
    .MainHeading__text p {
      margin: 0 80px 0 80px ;
    }
  }
