:root {
    --green: #5CA430;
    --white: #ffffff;
    --background: #222222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body  {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color: var(--white);
    overflow-x: hidden;
  }
  
  .TextGrean {
    color: var(--green);
    text-shadow: 0 0 20px var(--green);
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 20px;
  }

  p {
    font-weight: 300;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .img__stroke {
    box-shadow:  0 0 0 3px var(--green), 0 0 20px var(--green);
  }

  li {
    list-style: none;
  }

  .Section__padding {
    padding: 80px 50px;
  }


 nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 50px;
 }

 .Heading__img {
  max-width: 100px;
 }

 a {
  color: var(--white);
  text-decoration: none;
 }
  
  .MainHeading {
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .MainHeading__text {
    margin-bottom: 40px;
  }

  .MainHeading__text p {
    font-size: 20px;
    font-weight: 400;
  }
  
  .MainHeading__video {
    aspect-ratio: 16 / 9;
    width: 70%;
  }

  .gradient__heading {
    position: absolute;
    left: -100px;
    top: 350px;
    z-index: -1;
    rotate: -10deg;
    width: 200%; 
    height: 100px; 
    background: linear-gradient(to bottom , var(--green), transparent); 
  }

  .Work {
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .Work > p {
    padding-top: 20px;
  }

  .gradient__work {
    position: absolute;
    left: -20px;
    top: 420px;
    z-index: -1;
    rotate:   10deg;
    width: calc(100vw + 50px); 
    height: 100px; 
    background: linear-gradient(to bottom , var(--green), transparent); 
  }
  
  
  .Testimonials {
    text-align: center;
    position: relative;
    overflow: hidden;
  } 

  .gradient__testemonials {
    position: absolute;
    left: -20px;
    top: 730px;
    z-index: -1;
    rotate:  -10deg;
    width: calc(100vw + 50px); 
    height: 100px; 
    background: linear-gradient(to bottom , var(--green), transparent); 
  }

  .Testimonials__list {
    list-style: none;
    padding-top: 40px;
    max-width: 80%;
    margin: auto;
  }

  .Testimonials__list p {
    margin-top: 16px;
    margin-bottom: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } 


  .About {
    text-align: center;
  }
  
  .About img {
    max-width: 50%;
  }
  
  .About p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  

  .Cta {
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .Cta p {
    font-size: 1.1rem;
    margin-bottom: 40px;
  }
  
  .Cta__Button {
    padding: 12px;
    cursor: pointer;
    border-radius: 50px;
    border: var(--green) solid;
    transition: background-color 0.3s ease;
  }
  
  .Cta__Button:hover {
    background-color: var(--green);
  }

  .gradient__cta {
    position: absolute;
    left: -35px;
    top: 0;
    z-index: -1;
    width: calc(100vw + 70px);
    height: 336px;
    background: linear-gradient(to bottom , var(--green), transparent);
  }
  
.Footer {
  list-style: none;
  background-color: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Footer__links {
  padding: 20px;
  list-style: none;
  font-weight: 100;
}

.Footer__img {
  max-width: 100px;
  display: none;
}

.Footer__links li {
  margin-bottom: 10px;
}

.Footer__social img {
  max-width: 40px;
  margin-top: 32px;
  margin-right: 10px;
}
  
@media (min-width: 670px) {

  .Section__padding {
    padding: 100px 130px;
  }
    .MainHeading__text p {
      margin: 0 80px 0 80px ;
    }

    .gradient__heading {
      top: 310px;
    }

    .Work p {
      padding-bottom: 40px;
      max-width: 540px;
      margin: auto;
    }

    .About {
      margin: auto;
    }

    .About img {
      max-width: 300px;
    }

    .Testimonials li {
      margin: auto;
      max-width: 450px;
    }

    .Testimonials__list p {
      margin-bottom: 100px;
      margin-top: 30px;
    }

    .gradient__work{
      top: 375px;
    }

   
    
  }

  @media (min-width: 1100px) {
    nav {
      padding: 50px 200px;
    }

    .Section__padding {
      padding: 100px 150px;
    }

    .Work p {
      padding-bottom: 80px;
    }

    .gradient__heading {
      height: 255px;
      top: 385px;
    }

    .MainHeading__text p {
      max-width: 500px;
      margin: auto;
      font-weight: 600;
      font-size: 1.5em;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 4em;
    }

    h2 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em
    }

    .gradient__work {
      left: -50px;
      height: 200px;
      top: 390px;
      width: calc(100vw + 100px);
    }

    .Testimonials__list {
      display: flex;
    justify-content: space-between;
    gap: 80px;
    max-width: 100%;
    padding-top: 80px;
    }

    .Testimonials > p {
      padding-top: 20px;
      max-width: 540px;
      margin: auto;
    }


    .gradient__testemonials {
      top: 375px;
      height: 225px;
      width: calc(100vw + 100px);
      left: -50px;

    }

    .About {
      display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    }
  

    .About div {
      max-width: 400px;
    }

    .Cta {
      padding-top: 150px;
    }

    .gradient__cta {
      left: -55px;
      width: calc(100vw + 100px);
      height: 500px;
    }
  }

  @media (min-width: 1700px) {

    .Section__padding {
      padding: 150px 250px;
    }

    h1 {
      font-size: 4em;
    }

    .MainHeading__text p {
      max-width: 800px;
      font-size: 1.5em;
    }

    .gradient__heading {
      width: 225vw;
      left: -100vw;
      top: 700px;
    }


    .gradient__testemonials {
      width: 225vw;
      left: -100vw;
      top: 705px;
      height: 280px;
    }


    .gradient__cta {
      width: 200vw;
      left: -100vw;
    }

    .About {
      justify-content: space-around;
    }

    .About div {
      max-width: 50%;
    }

    .About p {
      font-size: 1.5em;
    }


    .Work p {
      max-width: 910px;
    }

    .gradient__work{
      width: 225vw;
      left: -100vw;
      top: 270px;
      height: 260px;
    }

    .Heading__img {
      max-width: 500px;
    }

    .Heading__list-item a {
      font-size: 1.2em;
    }

    p {
      font-size: 1.5em;
    }

    h2 {
      font-size: 3em;
    }

    .Cta p {
      font-size: 1.5em;
    }

    .Footer__links {
      font-size: 1.3em
    }
  }